
<mat-card>
     <mat-card>
                <h1>About MySaver</h1>
                <p>MySaver was developed by Strike Team in Fall 2019.</p>
                <img src="https://p1.pxfuel.com/preview/196/86/424/bills-cash-usd-money-dollars-finance.jpg" alt="Money" style="width:303px;height:201px;"> 
     </mat-card>

     <mat-card>
         <h2>Please leave us your feedback. The developers use feedback and donations to support their work on this project. <br/>Feedback is prioritized by amount donated. </h2>
         <div class="example-container">
                <mat-form-field>
                  <input matInput placeholder="Name">
                </mat-form-field>
              
                <mat-form-field>
                  <textarea matInput placeholder="Email"></textarea>
                </mat-form-field>
              
                <mat-form-field>
                  <textarea matInput placeholder="Feedback"></textarea>
                </mat-form-field>
               
                <mat-form-field>
                  <textarea matInput type="number" placeholder="Donation amount">$</textarea>
                </mat-form-field>

              </div>
      
              <button mat-button>Donate to support the developers</button>
              <button mat-button>Send feedback without a donation</button>
     </mat-card>


</mat-card>
