
<mat-card>
     <mat-card>
                <h1>About MySaver</h1>
                <p>MySaver was developed by Strike Team in Fall 2019.</p>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/USA-1_in_heat_3_of_4_man_bobsleigh_at_2010_Winter_Olympics_2010-02-27.jpg/304px-USA-1_in_heat_3_of_4_man_bobsleigh_at_2010_Winter_Olympics_2010-02-27.jpg" alt="team" style="width:303px;height:201px;"> 
     </mat-card>

     <mat-card>
         <h2>Please leave us your feedback. The developers use feedback and donations to support their work on this project. <br/>Feedback is prioritized by amount donated. </h2>
         <div class="example-container">
                <mat-form-field>
                  <input matInput placeholder="Name">
                </mat-form-field>
              
                <mat-form-field>
                  <input matInput placeholder="Email">
                </mat-form-field>
              
                <mat-form-field>
                  <input matInput placeholder="Feedback">
                </mat-form-field>
               
                <mat-form-field>
                  <input matInput type="number" placeholder="Donation amount">
                </mat-form-field>

              </div>
      
              <button mat-button>Send</button>
     </mat-card>


</mat-card>
