<div>
    <p class="header"> ID Name Type Currency Amount Date Account</p> <!--This is the header for the table-->

    <table ng-table="tableParams" class="table table-condensed table-bordered table-striped"> <!--Bug. Formatting is not happening--> 
        <tr *ngFor="let fakeData of fakeDatas ">
            <td>{{fakeData.id}}</td>
            <td>{{fakeData.name}}</td>
            <td>{{fakeData.type}}</td>
            <td>{{fakeData.currency}}</td>
            <td>{{fakeData.amount}}</td>
            <td>{{fakeData.date}}</td>
            <td>{{fakeData.account}}</td>
        </tr>
    </table>
</div>