@import url("https://fonts.googleapis.com/css?family=Tangerine");
h1 {
    font-family: 'Tangerine', serif;
    font: 64px;
    font-weight: bold;
    text-align: center;
    color: greenyellow;
}

h2 {
    font-family: 'Tangerine', serif;
    font: 32px;
    text-align: center;
    height: 50px;
    color: greenyellow;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}