
<mat-card>
        <h1>Banking Accounts</h1>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <!-- Friendly Name Column -->
                <ng-container matColumnDef="Friendly name">
                    <th mat-header-cell *matHeaderCellDef> Friendly name</th>
                    <td mat-cell *matCellDef="let element "> {{element.friendlyname}} </td>
                </ng-container>
            
                <!-- AccountID Column -->
                <ng-container matColumnDef="MySaver account number">
                    <th mat-header-cell *matHeaderCellDef> MySaver account number</th>
                    <td mat-cell *matCellDef="let element "> {{element.accountid}} </td>
                </ng-container>

                <!-- Bank account number column -->
                <ng-container matColumnDef="Bank account number">
                    <th mat-header-cell *matHeaderCellDef> Bank account number</th>
                    <td mat-cell *matCellDef="let element "> {{element.bankaccountnumber}} </td>
                </ng-container>

                <!-- Bank Column -->
                <ng-container matColumnDef="Bank">
                    <th mat-header-cell *matHeaderCellDef> Bank</th>
                    <td mat-cell *matCellDef="let element "> {{element.bank}} </td>
                </ng-container>
        
                <!-- Available Balance Column -->
                <ng-container matColumnDef="AvailableBalance">
                    <th mat-header-cell *matHeaderCellDef> AvailableBalance </th>
                    <td mat-cell *matCellDef="let element"> ${{element.availablebalance}} </td>
                </ng-container>
        
                <!-- Balance Column -->
                <ng-container matColumnDef="Balance">
                    <th mat-header-cell *matHeaderCellDef> Balance</th>
                    <td mat-cell *matCellDef="let element"> ${{element.balance}} </td>
                </ng-container>

                  <!-- Currency Column -->
                  <ng-container matColumnDef="Currency">
                        <th mat-header-cell *matHeaderCellDef> Currency</th>
                        <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
                    </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
            </table>
            <mat-paginator [pageSizeOptions]="[6]" showFirstLastButtons></mat-paginator>

    
        <div class="flex" *ngIf="newAccount">
            <p>Add Account:</p>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Friendly name" value="" type="string" [formControl]= "friendlyname">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Bank" value="" type="string" [formControl]="bank">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Account type" value="" type="string" [formControl]="accounttype">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Bank account number or identifier" value="" type="string" [formControl]="bankaccountnumber">
            </mat-form-field>
    
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Avaliable balance" value="" type="number" [formControl]="availablebalance">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Balance" value="" type="number" [formControl] = "balance">
            </mat-form-field>
            
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Currency" value="" type="string" [formControl] = "currency">
            </mat-form-field>
    
            <button mat-button (click)="addNewAccount()">Save</button>
        </div>
    

    </mat-card>
    