mat-card {
    margin: 10px;

}

mat-form-field {
   padding: 10px;
}


table {
   width: 100%;
   margin-bottom: 15px;
   
 }

.flex {
   display: flex;
   flex-direction: row;
   align-items: baseline;
   padding: 3px;
}
