<mat-card>
<h1>Premium Plan</h1>
<mat-card>
    <h2>Premium Features</h2>

    <mat-card>
            <h3>Premium Package 1</h3>
            <p>Description of premium package one</p>
            <button mat-button>Add Package 1</button>
    </mat-card>

    <mat-card>
            <h3>Premium Package 2</h3>
            <p>Description of premium package one</p>
            <button mat-button>Add Package 2</button>
    </mat-card>

     <mat-card>
            <h3>Premium Package 3</h3>
            <p>Description of premium package one</p>
            <button mat-button>Add Package 3</button>
    </mat-card>
</mat-card>

</mat-card>
