<mat-card>
        <h1>Recurring Transactions</h1>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!-- Date Column -->
                <ng-container matColumnDef="StartDate">
                     <th mat-header-cell *matHeaderCellDef> StartDate </th>
                     <td mat-cell *matCellDef="let element "> {{element.StartDate}} </td>
                 </ng-container>
 
                 <!-- ID Column -->
                 <ng-container matColumnDef="EndDate">
                     <th mat-header-cell *matHeaderCellDef> EndDate </th>
                     <td mat-cell *matCellDef="let element "> {{element.EndDate}} </td>
                 </ng-container>
         
                 <!-- AccountName Column -->
                 <ng-container matColumnDef="AccountName">
                     <th mat-header-cell *matHeaderCellDef> AccountName </th>
                     <td mat-cell *matCellDef="let element"> {{element.AccountName}} </td>
                 </ng-container>
         
                 <!-- Category Column -->
                 <ng-container matColumnDef="Category">
                     <th mat-header-cell *matHeaderCellDef> Category</th>
                     <td mat-cell *matCellDef="let element"> {{element.Category}} </td>
                 </ng-container>
 
                  <!-- Payee Column -->
                  <ng-container matColumnDef="Payee">
                         <th mat-header-cell *matHeaderCellDef> Payee</th>
                         <td mat-cell *matCellDef="let element"> ${{element.Payee}}
                     </ng-container>
 
                  <!-- Memo Column -->
                  <ng-container matColumnDef="Memo">
                         <th mat-header-cell *matHeaderCellDef> Memo </th>
                         <td mat-cell *matCellDef="let element"> {{element.Memo}} <button mat-button>Edit</button></td>
                     </ng-container>

                         <!-- Amount Column -->
                  <ng-container matColumnDef="Amount">
                        <th mat-header-cell *matHeaderCellDef> Amount </th>
                        <td mat-cell *matCellDef="let element"> ${{element.Amount}} <button mat-button>Edit</button></td>
                    </ng-container>

                        <!-- FrequencyMonths Column -->
                  <ng-container matColumnDef="FrequencyMonths">
                        <th mat-header-cell *matHeaderCellDef> FrequencyMonths</th>
                        <td mat-cell *matCellDef="let element"> {{element.FrequencyMonths}} <button mat-button>Edit</button></td>
                    </ng-container>
         
                 <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                 <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
         
             </table>
             <mat-paginator [pageSizeOptions]="[6]" showFirstLastButtons></mat-paginator>

    
        <div class="flex">
            <p>Add transaction:</p>
            <mat-form-field>
                <mat-label>Category</mat-label>
                <mat-select>
                        <mat-option *ngFor="let Category of ourCategories" [value]="Category.name">
                            {{Category.name}}
                        </mat-option>
                </mat-select>
            </mat-form-field>
    
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Account Name" value="">
            </mat-form-field>
    
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Expense Name" value="">
            </mat-form-field>
    
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Amount" value="">
            </mat-form-field>
    
            <button mat-button>Save</button>
        </div>
    
</mat-card>