<div class="boxed">
  <h2>My Tasks</h2>
  <div *ngIf="ourTasks">
    <ul class="todoitems">
      <li *ngFor="let eachTask of ourTasks"
          (click)="onSelect(eachTask)" >

          {{eachTask.taskName}} :::: {{eachTask.createdOn}}       
      </li>
   </ul>
  </div>

          <!-- [class.selected]="eachTask == selected"> -->
          <!-- <span class="badge" {{eachTask.taskName}} > {{eachTask.createdOn}} -->

  <br /><br />


  <div *ngIf="selectedTask">
    <h4>{{selectedTask.taskName }} </h4>
    <div>
      <label>The Task:
          <input [(ngModel)]="selectedTask.taskName">
      </label><br />
      <label>Created On:
          <input [(ngModel)]="selectedTask.createdOn">
      </label><br />
      <label>Task _id:
        <input [(ngModel)]="selectedTask._id">
      </label><br />
      <button type="button" (click)="updateRecord()">Save changes</button> 
      <button type="button" (click)="deleteTask()">Delete Task</button> 
    </div>
  </div>


  <div *ngIf="newTask">
    <div>
      <label>New Task:
        <input [(ngModel)]="newTask.taskName">
      </label><br />
      <button type="button" (click)="addRecord()">Add New Task</button> 
    </div>
  </div>



  <br /><br />

  <div>
    <h4>Look up task by _id </h4>
    <label>Task _id:
      <input [(ngModel)]="foundTask._id">
    </label><br />
    <button type="button" (click)="findTask()">Find</button> <br /><br />
    <label>The Task:
      <input [(ngModel)]="foundTask.taskName">
    </label><br />
    <label>Created On:
      <input [(ngModel)]="foundTask.createdOn">
    </label><br />
  </div>
</div>

  
