
<mat-card>
        <h1>Add new transaction</h1>
    
        <div class="flex">
            <p>Add Transaction:</p>
            <!--<mat-form-field>
                <mat-label>Categories</mat-label>
                <mat-select>
                        <mat-option *ngFor="let Categories of ourCategories" formControl="transactionCategory" [value]="Categories.name" >
                            {{Categories.name}} Categoryid:{{Categories.Categoryid}}
                        </mat-option>
                </mat-select>
            </mat-form-field>-->

            <mat-form-field>
                <input type="text" matInput [formControl]="transactionCategory" [matAutocomplete]="auto">
              </mat-form-field>
              
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let Categories of ourCategories" [value]="option">{{option}}</mat-option>
              </mat-autocomplete>
    
    
            <mat-form-field class="example-full-width">
                    <input matInput placeholder="Payee" [formControl]= "transactionPayee" value="">
                </mat-form-field>
    
            <mat-form-field class="example-full-width">
                    <input matInput placeholder="Account number" type="number" [formControl]="AccountID" value="">
            </mat-form-field>
   
            <mat-form-field class="example-full-width">
                    <input matInput placeholder="Amount" type="number" [formControl]="transactionAmount" value="">
            </mat-form-field>
      
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Memo" [formControl]= "transactionMemo" value="">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Date" type="date" [formControl]= "transactionDate" value="">
            </mat-form-field>

            <button mat-button (click)="saveClick()">Save</button>
        </div>
    
    </mat-card>
    