<mat-card>
    <h1>Add Transaction</h1>

    <div class="flex" >
        <p>Add transaction:</p>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Date" value="">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="AccountID" value="">
        </mat-form-field>
<!--
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Account Name" value="">
        </mat-form-field>-->

        <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select>
                    <mat-option *ngFor="let Category of ourCategories" [value]="Category.name">
                        {{Category.name}}
                    </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Payee" value="">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Memo" value="">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Amount" value="">
        </mat-form-field>

        <button mat-button (click)="addNewTrans()">Save</button>
    </div>

</mat-card>

<!--
<mat-card>
        <h1>Add new transaction</h1>
    
        <div class="flex">
            <p>Add Transaction:</p>
            <mat-form-field>
                <mat-label>Categories</mat-label>
                <mat-select>
                        <mat-option *ngFor="let Categories of ourCategories" formControl="transactionCategory" [value]="Categories.name" >
                            {{Categories.name}} Categoryid:{{Categories.Categoryid}}
                        </mat-option>
                </mat-select>
            </mat-form-field>
    
    
            <mat-form-field class="example-full-width">
                    <input matInput placeholder="Payee" [formControl]= "transactionPayee" value="">
                </mat-form-field>
    
            <mat-form-field class="example-full-width">
                    <input matInput placeholder="Account number" type="number" [formControl]="AccountID" value="">
            </mat-form-field>
   
            <mat-form-field class="example-full-width">
                    <input matInput placeholder="Amount" type="number" [formControl]="transactionAmount" value="">
            </mat-form-field>
      
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Memo" [formControl]= "transactionMemo" value="">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Date" type="date" [formControl]= "transactionDate" value="">
            </mat-form-field>

            <button mat-button (click)="saveClick()">Save</button>
        </div>
    
    </mat-card>
-->