
<mat-card>
        <h1>Add new transaction</h1>
    
        <div class="flex">
            <p>Add Transaction:</p>
            <mat-form-field>
                <mat-label>Category</mat-label>
                <mat-select>
                        <mat-option *ngFor="let Category of ourCategories" [value]="Category.name">
                            {{Category.name}}
                        </mat-option>
                </mat-select>
            </mat-form-field>
    
    
            <mat-form-field class="example-full-width">
                    <input matInput placeholder="Payee" value="">
                </mat-form-field>
    
            <mat-form-field class="example-full-width">
                    <input matInput placeholder="Account Type" value="">
            </mat-form-field>
   
            <mat-form-field class="example-full-width">
                    <input matInput placeholder="Amount" value="">
            </mat-form-field>
      
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Memo" value="">
            </mat-form-field>

            <button mat-button>Save</button>
        </div>
    

    </mat-card>
    